:root {
	--navbar-bg-color: #F0F8FF;
	--navbar-border-color: black;
	--center-padding: 3%;
	--font-for-all: verdana;
}


h1, h2 {
    color: black;
    font-family: var(--font-for-all);
}

p {
    color: black;
    font-family: var(--font-for-all);
}


/* link styling */
a {
    font-family: var(--font-for-all);
    display: inline-block;
}

a:link {text-decoration: none;}
a:hover {text-decoration: none;}
a:visited {text-decoration: none;}
a:active {text-decoration: none;}

a.touch:link {text-decoration: underline;}
a.touch {
	color: black;
}


/* table styling */

.table_sitepages, .td_sitepages {
    border: transparent;
    border-spacing: 5px
}

.td_sitepages {
	text-align: center;
    padding: 15px 10px 15px 10px;
	border-radius: 5px;
	background-color: var(--navbar-bg-color);
	width: 100px;
	}

/*Inspiration for this solution found at https://stackoverflow.com/questions/18521152/how-to-set-two-different-font-sizes-in-the-same-p*/
p#comment-p {
    font-size: 10;
}

img#spharms-img {
	width: 60%;
}

p.right {
	float: right;
	clear: both;
	text-align: right;
	width: 30%;
	padding-right: var(--center-padding);
}

img.pers-image {
	clear: both;
	padding-left: var(--center-padding);
	width: 20%;
}

.column {
	float: left;
	width: 50%;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}